<!-- App Sidebar -->
<div class="sidebar-container box-shadow desktop-view" *ngIf="isOpenSidebar" @sideAmination style="padding-left: 0; padding-right: 0">
  <!-- Start Sidebar Toggle icon -->
<!--   <div class="toggleIcon desktop-view">
    <i class="material-icons open" (click)="onToggleSidebar()" pTooltip="{{'hide' | translate}}" tooltipPosition="top" *ngIf="this.isOpenSidebar">keyboard_arrow_left</i>
  </div><!End Sidebar Toggle icon -->
 
  <div class="logo">
    <img src="assets/img/logo_white.png"/>
  </div>
<!--   <ul class="userProfile">
    <li pTooltip="{{user?.email}}" tooltipPosition="right">
      <a routerLinkActive="active" [routerLink]="settingsUrl">
        <i class="material-icons">tag_faces</i>
        <div>{{user?.email}}</div>
        <div class="clearfix"></div>
      </a>
      <div class="clearfix"></div>
    </li>
  </ul>
 -->
  <ul class="navbar-menu">
    <li tooltipPosition="top" style="margin-top: 26px">
      <a [routerLink]="transactionHistoryUrl" routerLinkActive="active">
        <i>
          <img src="/assets/img/new/transaction.png" class="new-icon">

        </i><span style="padding-top: 32px">{{'transactionHistory' | translate}}</span>
      </a>
    </li>

    <li tooltipPosition="top">
      <a [routerLink]="sendUrl" routerLinkActive="active">
        <i class="">
          <img src="/assets/img/new/send.png" srcset="/assets/img/new/send@2x.png 2x, /assets/img/new/send@3x.png 3x" class="new-icon">
        </i> <span>{{'send' | translate}}</span>
      </a>
    </li>

<!--     <li tooltipPosition="top">
      <a [routerLink]="balancesUrl" routerLinkActive="active">
        <i>
          <img src="/assets/img/new/balance.png" srcset="/assets/img/new/balance@2x.png 2x, /assets/img/new/balance@3x.png 3x" class="new-icon">
        </i> <span>{{'balances' | translate}}</span>
      </a>
    </li> -->

    <li tooltipPosition="top">
      <a [routerLink]="referralUrl" routerLinkActive="active">
        <i>
          <img src="/assets/img/new/referal-link.png" srcset="/assets/img/new/referal-link@2x.png 2x, /assets/img/new/referal-link@3x.png 3x" class="new-icon">
        </i> <span>Referral Program</span>
      </a>
    </li>

    <li tooltipPosition="top">
      <a [routerLink]="addressInfoUrl" routerLinkActive="active">
        <i >
          <img src="/assets/img/new/balance.png" srcset="/assets/img/new/balance@2x.png 2x, /assets/img/new/balance@3x.png 3x" class="new-icon">
          <!-- <img src="/assets/img/new/s.png" srcset="/assets/img/new/s@2x.png 2x, /assets/img/new/s@3x.png 3x" class="new-icon"> -->
        </i> <span>{{'walletInfo' | translate}}</span>
      </a>
    </li>

    <li>
      <a [routerLink]="settingsUrl" class="settings" routerLinkActive="active" tooltipPosition="top">
        <i><img src="/assets/img/new/settings.png" srcset="/assets/img/new/settings@2x.png 2x, /assets/img/new/settings@3x.png 3x" class="new-icon"></i>
        <span>{{'settings' | translate}}</span>
      </a>
    </li>

    <li>
      <a routerLinkActive="active" class="logout" (click)="logout()" tooltipPosition="top">
        <i class="material-icons">power_settings_new</i>
        <span>{{'logout' | translate}}</span>
      </a>
    </li>
  </ul>

  <div class="col-md-12 col-sm-12 col-xs-12 padding-left-10" style="background-color: #13171F; padding-bottom: 12px;">
    <div class="col-md-12 padding-left-0 padding-right-0">
      <div class="logo-icons" style="width: 36px; height: 36px; background-color: rgba(242, 155, 52, 0.2); border-radius: 50%">
        <img src="assets/img/ethereum_1.png" width="24" height="40" style="margin-left: 10px; margin-top: 7px; width: 16px; height: 24px"/>
      </div>

      <div class="value-count">

      <div *ngIf="loaderTokenRaised" class="button-loader"></div>
      <span *ngIf="!loaderTokenRaised" class="balance-counter" pTooltip="{{'tokenRaised' | translate}}" tooltipPosition="top">{{tokenRaised}} / 3000000</span>

        <div class="count-label" style="font-weight: 800">Token Raised</div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-12 padding-left-0 padding-right-0">
      <div class="logo-icons" style="width: 36px; height: 36px; background-color: rgba(242, 155, 52, 0.2); border-radius: 50%">
        <img src="assets/img/ethereum_1.png" width="24" height="40" style="margin-left: 10px; margin-top: 7px; width: 16px; height: 24px"/>
      </div>

      <div class="value-count">
      <div *ngIf="loaderTokenPrice" class="button-loader"></div>
      <span *ngIf="!loaderTokenPrice" class="balance-counter" pTooltip="{{'tokenPrice' | translate}}" tooltipPosition="top">0,2$</span>
        <div class="count-label" style="font-weight: 800">Token Price</div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

<!--   <ul class="admin-profile navbar-menu">
    <div class="language-dropdown">
      <div class="language-select">
        <app-language-selector></app-language-selector>
      </div>
    </div>
  </ul>
 -->  
</div><!-- End Sidebar -->

<!-- Start Sidebar Toggle icon -->
<div class="toggleIcon desktop-view">
  <i class="material-icons close" (click)="onToggleSidebar()" pTooltip="{{'show' | translate}}" tooltipPosition="right" *ngIf="!this.isOpenSidebar">menu</i>
</div><!-- End Sidebar Toggle icon -->


<!-- App Mobile Sidebar -->
<div class="sidebar-container box-shadow mobile-view" *ngIf="isOpenMobileSidebar" @sideAmination>
  <div class="toggleIcon mobile-view">
    <i class="material-icons open" (click)="onMobileToggleSidebar()" *ngIf="this.isOpenMobileSidebar">keyboard_arrow_left</i>
  </div><!-- End Sidebar Toggle icon -->
  <div class="logo">
    <img src="assets/img/logo_white.png"/>
  </div>
  <ul class="userProfile">
    <li>
      <a routerLinkActive="active" [routerLink]="settingsUrl" (click)="closeSidebar()">
        <i class="material-icons">tag_faces</i>
        <div title="{{user?.email}}">{{user?.email}}</div>
        <div class="clearfix"></div>
      </a>
      <div class="clearfix"></div>
    </li>
  </ul>
  <ul class="navbar-menu">
    <li>
      <a [routerLink]="transactionHistoryUrl" routerLinkActive="active" (click)="closeSidebar()">
        <i class="material-icons">history</i> <span>{{'transactionHistory' | translate}}</span>
      </a>
    </li>

    <li>
      <a [routerLink]="sendUrl" routerLinkActive="active" (click)="closeSidebar()">
        <i class="material-icons">send</i> <span>{{'send' | translate}}</span>
      </a>
    </li>

    <li>
      <a [routerLink]="etherUrl" routerLinkActive="active" (click)="closeSidebar()">
        <i class="material-icons">settings_ethernet</i> <span>{{'etherBalance' | translate}}</span>
      </a>
    </li>

    <li>
      <a [routerLink]="tokenUrl" routerLinkActive="active" (click)="closeSidebar()">
        <i class="material-icons">account_balance</i> <span>{{'tokenBalance' | translate}}</span>
      </a>
    </li>

    <li>
      <a [routerLink]="addressInfoUrl" routerLinkActive="active" (click)="closeSidebar()">
        <i class="material-icons">note_add</i> <span>{{'addressInfo' | translate}}</span>
      </a>
    </li>

    <li>
      <a [routerLink]="settingsUrl" routerLinkActive="active" class="settings" (click)="closeSidebar()">
        <i class="material-icons">settings</i>
        <span>{{'settings' | translate}}</span>
      </a>
    </li>
    <li>
      <a routerLinkActive="active" class="logout" (click)="logout()">
        <i class="material-icons">power_settings_new</i>
        <span>{{'logout' | translate}}</span>
      </a>
    </li>
  </ul>

<!--   <ul class="admin-profile navbar-menu">

    <div class="language-dropdown">
      <div class="language-select">
        <app-language-selector></app-language-selector>
      </div>
    </div>
  </ul>
 --></div><!-- End Mobile Sidebar -->

<!-- Start Sidebar Toggle icon -->
<div class="toggleIcon mobile-view">
  <i class="material-icons close" (click)="onMobileToggleSidebar()" *ngIf="!this.isOpenMobileSidebar">menu</i>
</div><!-- End Sidebar Toggle icon -->

<!-- Start Header -->
<div [ngClass]="{'body-container':true,'sidePanelHide':!isOpenSidebar}" @slideDown>
  <div class="header-container">
    <ul class="progressbar">

<!--     
      <li (click)="currentRoute()" [ngClass]="{'twoTabActive':currentPath == 'wallet','AllTabActive':currentPath == 'buy-token'}">
        <a [routerLink]="ethereumUrl" routerLinkActive="active">
          <span>{{'getEthereum' | translate}}</span>
        </a>
      </li>

      <li (click)="currentRoute();walletUrlEvent()" [ngClass]="{'twoTabActive':currentPath == 'wallet','AllTabActive':currentPath == 'buy-token'}">
        <a [routerLink]="walletUrl" routerLinkActive="active">
          <span>{{'sendEtheriumWallet' | translate}}</span>
        </a>
      </li>

      <li (click)="currentRoute();buyTokensEvent()" [ngClass]="{'AllTabActive':currentPath == 'buy-token'}">
        <a [routerLink]="buyTokens" routerLinkActive="active">
          <span>{{'buyTokens' | translate}}</span>
        </a>
      </li>
 -->

      <li (click)="currentRoute();">
        <a [routerLink]="presaleUrl" routerLinkActive="active">
          <span>Presale information</span>
        </a>
      </li>

      <li (click)="currentRoute()">
        <a [routerLink]="buyIcrmUrl" routerLinkActive="active">
          <span>Buy ICRM Tokens</span>
        </a>
      </li>


      <li>
        <a>
          <div class="top-menu">
            <a [routerLink]="etherUrl" pTooltip="{{'etherBalance' | translate}}" tooltipPosition="left" routerLinkActive="active">
              <div *ngIf="loaderEther" class="button-loader"></div>
              <span *ngIf="!loaderEther" style="font-weight: 800">{{etherBalance}} ETH</span>
            </a>
            <i class="material-icons" pTooltip="{{'refresh' | translate}}" tooltipPosition="right" (click)="loaderEther=true;checkAccountBalance(address)">refresh</i>
          </div>
          <div class="bottom-menu">
            <a [routerLink]="tokenUrl" pTooltip="{{'tokenBalance' | translate}}" tooltipPosition="left" routerLinkActive="active">
              <div *ngIf="loaderProof" class="button-loader"></div>
              <span *ngIf="!loaderProof" style="font-weight: 800">{{tokenBalance}} ICRM</span>
            </a>
            <i class="material-icons" pTooltip="{{'refresh' | translate}}" tooltipPosition="right" (click)="loaderProof=true;checkProofAccountBalance(address)">refresh</i>
          </div>
        </a>
      </li>

    </ul>
    <div class="clearfix"></div>
  </div>
</div>
<!-- End Header -->
