<div class="ether-balance-container" @slideUp>
  <div class="ether-balance">
    <h3>Balances</h3>
    <div class="balance-counter-body text-center margin-top-50 margin-bottom-35">

      <div>
      <div *ngIf="loaderEther" class="button-loader"></div>
      <span *ngIf="!loaderEther" class="balance-counter" pTooltip="{{'etherBalance' | translate}}" tooltipPosition="top">{{etherBalance}}</span>
      <span class="label" pTooltip="{{'ether' | translate}}" tooltipPosition="top">{{'ether' | translate}}</span>
     </div>

     <div class="margin-top-30">
      <div *ngIf="loaderToken" class="button-loader"></div>
      <span *ngIf="!loaderToken" class="balance-counter" pTooltip="{{'tokenBalance' | translate}}" tooltipPosition="top">{{tokenBalance}}</span>
      <span class="label" pTooltip="{{'SYM' | translate}}" tooltipPosition="top">{{'SYM' | translate}}</span>
      </div>

      <div class="margin-top-30">
        <button class="btn btn-primary" (click)="balanceRefresh()" pTooltip="{{'refresh' | translate}}" tooltipPosition="top">{{'refresh' | translate}}</button>
      </div>
    </div>
  </div>


</div>

<admin-footer></admin-footer>
