<div class="transaction-history-container" @slideUp>
  <div class="transaction-history-table box-shadow">
    <h3 class="first">{{'transactionHistory' | translate}}</h3>
    <div *ngIf="transactionLength!=0">
      <p-dataTable [value]="transactionsList" [loading]="false" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <p-column [style]="{'width':'80px'}" field="type" header="Type" [sortable]="true"></p-column>
        <p-column [style]="{'width':'270px'}" field="date" header="Date" [sortable]="true"></p-column>
        <p-column field="description" header="Description" [sortable]="true"></p-column>
        <p-column [style]="{'width':'100px'}" field="status" header="Status" [sortable]="true">
          <ng-template let-col let-car="rowData" pTemplate="body">
            <a href="https://etherscan.io/tx/{{car['transactionHash']}}" target="_blank" class="cursor underline">{{car[col.field]}}</a>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'100px'}" field="amount" header="Amount" [sortable]="true"></p-column>
      </p-dataTable>
    </div>

    <!--when row length is 0-->
    <div class="PTB70" *ngIf="transactionLength==0">
<!--       <div class="col-md-12 text-center">
        <p>{{'noTransactions' | translate}}
         <a class="cursor" (click)="getEthereum()">{{'clickHere' | translate}}</a>
          {{'toGetStarted' | translate}}
        </p>
      </div> -->


      <div class="col-md-12 text-center" style="margin-top: 30px; margin-bottom: 30px; color: white;">
        <h3>There is no trsansactions yet.</h3>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>
</div>

<admin-footer></admin-footer>

