<!--Start Footer -->
<div class="admin-footer">
  <div class="col-md-12 text-center margin-top-10 whiteClr">
    <span class="telegram-icon">
      {{'footerTelegramMessage' | translate}}
      <a href="https://t.me/ICAREUMsupport" target="_blank">
        <img src="assets/img/Telegram-icon.png" width="20" pTooltip="{{'telegram' | translate}}" tooltipPosition="top"/>
        <!--{{'telegram' | translate}}-->
      </a>
    </span>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-12 text-center margin-top-10 whiteClr">
      <div>
           <a href="https://github.com/BIMarchiviz" target="_blank">Contract code and audit on GitHub</a>
    </div>
  </div>
<!--   <div class="col-md-12 social-icons-before-login margin-top-10">
    <a href="https://www.facebook.com/proofsuite" pTooltip="{{'facebook' | translate}}" tooltipPosition="top" class="facebook" target="_blank">
      <i class="fa fa-facebook-square"></i>
    </a>

    <a href="https://twitter.com/proofsuite" pTooltip="{{'twitter' | translate}}" tooltipPosition="top" class="twitter" target="_blank">
      <i class="fa fa-twitter-square"></i>
    </a>

    <a href="https://medium.com/proof-of-fintech" pTooltip="{{'medium' | translate}}" tooltipPosition="top" class="medium" target="_blank">
      <i class="fa fa-medium"></i>
    </a>

    <a href="https://github.com/proofsuite" pTooltip="{{'github' | translate}}" tooltipPosition="top" class="github" target="_blank">
      <i class="fa fa-github-square"></i>
    </a> -->

  <div class="clearfix"></div>

  <div class="col-md-12 whiteClr text-center margin-top-10 margin-bottom-10">
    <div>© 2018 ICAREUM. All rights reserved.</div>
  </div>
  <div class="clearfix"></div>
</div>
<!--End Footer -->
